<%- layout('layout') -%>
<div class="jumbotron banner">
      <div class="container">
        <h1>Shop</h1>
        <p>Welcome ...  Click Categories on Navigation bar to look  products by categories or search using search bar</p>
        <p> Made By Divyanhu Sundriyal </p>
        </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <h1>Application Developed Using -></h1>
      <div class="row">
        <div class="col-md-4">
          <h2>Node.js</h2>
          <p>It is server side run time environment </p>
          
        </div>
        <div class="col-md-4">
          <h2>Express</h2>
          <p>It is node js framework to build apps quickly </p>
          
       </div>
        <div class="col-md-4">
          <h2>MongoDB</h2>
          <p>It is NoSQL database</p>
       
        </div>
      </div>
      </div>